
{% block content %}

<html>
<head>
    <title>Project Cloud Computing</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to Project Cloud Computing</h1>
            <p>If you wan't to know more informations about this site visit the github page and check the README.md</p>
            <br><a href="/algo_start">Algo here</a>
            <br><a href="https://github.com/Pakopac/project_cloud_computing">Github here</a>
        </div>
    </div>
</body>
</html>

{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}